@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'), url(https://maciej.lasyk.info/slides/15-sesja-linuksowa/Merriweather-Regular.ttf) format('truetype');
}
