{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if tag %}
<h1 class="index_page">Tag: {{ tag }}</h1>
{% elif category %}
<h1 class="index_page">Category: {{ category }}</h1>
{% else %}
{% endif %}
{% if articles %}
    {% for article in articles %}
        <div>
            <span style="display: inline-block; width: 150px; padding-left: 5px">
                {{ article.date|strftime('%d %b %Y') }} &gt;&gt;
            </span>
            <span style="display: inline-block; vertical-align: top; width: 395px;">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.summary }}">{{ article.title }}
                {% if article.summary %}
                {{ article.summary|striptags }}
                {% endif %}
                </a>
            </span>
        </div>
    {% endfor %}
{% endif %}
{% endblock content %}
